.is-price-visible{
    display: flex;
    flex-direction: column;
}
.is-modal-visible{
    @media(max-width: $sm){
        display: inherit;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        
        background-color: rgba($blue, .9);
        z-index: $z-index50;
    }
}
.is-filter-tx{ transform: translateX(100%); }
