.featured{
    &__info{
        margin: 0 $gap;
        @media(max-width: $sm){ margin: 0 $gap / 2; }
    }
    &__title{
        @include fluid-type(32px, 40px);
        font-family: 'Austin';
        color: $blue;
        line-height: 1.6;
        text-transform: uppercase;
        @media(max-width: $sm){ display: none;}

    }
    &__description{
        @include fluid-type(16px, 18px);
        font-family: 'Barlow-Medium';
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 35px;
        letter-spacing: .25vw;
        @media(max-width: $sm){
            font-family: 'Roboto-Bold';
            font-size: 18px;
            color: $black;
            text-transform: none;
            letter-spacing: 0;
        }

    }
    &__decorator{
        @media(max-width: $sm){ display: none;}
    }
}
