.filter{

    &-form{
        &__item{ margin-bottom: 1.5625rem; }
        &__title{
            display: block;
            font-family: 'Roboto-Medium';
            font-size: 14px;
            margin-bottom: 12px;
        }
        &__row{
            position: relative;
            margin-bottom: 12px;
            font-family: 'Roboto-Regular';
            font-size: 13px;
        }
        &__radio{ display: none;}
        &__checkbox{
            position: relative;
            height: 12px;
            width: 12px;
            margin-right: 8px;
            border-radius: 2px;
            border: 1px solid $gray-01;
            appearance: none;
            background: none;

            &:checked{
                background-color: $orange;
                border: none;
            }
            &:checked ~ .filter-form__label-c{ position: absolute; }
            &:checked ~ .filter-form__label-c::after{
                opacity: 1;
            }
        }
        &__label{ cursor: pointer; }
        &__label-c{
            position: absolute;
            top: 1px;
            left: 4px;

            &::after{
                content: '';
                position: absolute;
                width: 4px;
                height: 8px;
                border-right: 2px solid $white;
                border-bottom: 2px solid $white;
                transform:  rotateZ(40deg);
                opacity: 1;
            }

        }
        &__inputs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 4px;
            width: 100%;
        }
        &__input{
            width: 100%;
            height: 31px;
            border: 1px solid $gray-02;
            border-radius: 4px;
            padding-left: 12px;
            font-family: 'Roboto-Regular';
            font-size: 12.5px;
            color: $gray-3;
        }
        &__more{
            display: block;
            font-family: 'Roboto-Regular';
            font-size: 13px;
            color: $orange;
            margin-bottom: 30px;

        }
    }

}
