.results-form{
    background-color: $gray-1;

    @media(max-width: $sm){ background-color: $white;}

    &__current{
        width: 100%;
        @media(max-width: $sm){ @include flex(flex, space-between, center, row, nowrap); }
    }
    &__quantity{
        @include fluid-type(14px, 15px);
        font-family: 'Roboto-Medium';
        margin-right: 30px;
        color: $black;

        @media(max-width: $sm){ margin-right: 0; }
    }
    &__reset{
        font-family: 'Roboto-Regular';
        font-size: .78125rem;
        text-decoration: underline;
        color: $black;

        @media(max-width: $sm){ display: none; }
    }
    &__icon{
        width: 10px;
        height: 10px;
        object-fit: contain;
        margin-right: 5px;
    }

    &__selects{ display: flex; }
    &__select{
        width: 134px;
        height: 31px;
        padding: 0 12px;
        margin: 0 2px;

        font-family: 'Roboto-Regular';
        font-size: .78125rem;
        border-radius: 4px;
        border: 1px solid lighten($gray-2, 10);
        box-shadow: 0 0 3px $gray-1;
        color: $gray-6;

        @media(max-width: $sm){ display: none;}
    }
    &__featured{
        display: none;
        position: relative;
        z-index: $z-index100;
        @media(max-width: $sm){ display: inherit;}
    }
    &__label{
        margin-right: 10px;
    }
}
