.yacht{
    &__list{
        width: 100%;
        display: grid;
        grid-gap: 24px 16px;
        grid-template-columns: repeat(4, minmax(220px, 1fr));

        @media(max-width: $lg){ grid-template-columns: repeat(3, minmax(200px, 1fr)); }
        @media(max-width: $md){ grid-template-columns: repeat(2, minmax(220px, 1fr)); }
        @media(max-width: $xsm){ grid-template-columns: 1fr; }
    }
        &__item{
            position: relative;
            border-radius: 2px;
            box-shadow: 0px 0px 2px 1px darken($gray-1, 5);
            cursor: pointer;

            &:hover{ box-shadow: 0px 0px 2px 2px darken($gray-1, 5); }
            &:hover .yacht__heart{ opacity: 1; }
            &:hover .yacht__arrows{ opacity: 1; }

            &--mob{
                @media(max-width: $sm){
                    display: flex;
                    padding-bottom: 16px;
                    box-shadow: none;
                    border-bottom: 1px solid $gray-1;

                    &:hover{ box-shadow: none;}

                    .yacht__tags{ padding: 0;}
                    .yacht__tags--top{ border-bottom: none; }
                    .yacht__img-container{
                        width: 45%;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                    .yacht__info{
                        @include flex(flex, center, flex-start, column, wrap);
                        width: 55%;
                    }
                    .yacht__title{
                        @media(max-width: $sm){ margin:  0; }
                    }
                }
                .yacht__price{
                    @media(max-width: $sm){ display: none; }

                    &--mob{
                        display: none;
                        font-family: 'Roboto-Medium';
                        font-size: 0.8125rem;
                        margin: 2px 0 4px;

                        @media(max-width: $sm){ display: flex; }
                    }
                }
            }
        }
            &__img-container{
                position: relative;
                top: 0;
                width: 100%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                overflow: hidden;
            }
                &__img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: none;

                    &--main{ display: block;}
                }
                &__arrows{
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    padding: 0 12px;
                    transform: translateY(-50%);
                    opacity: 0;

                    @media(max-width: $sm){ opacity: 1; }
                }
                    &__arrow{
                        height: 20px;
                        width: 20px;
                        object-fit: contain;
                        padding: 3px;
                        border-radius: 50%;
                        background-color: $white;
                    }
                &__price,
                &__featured{
                    position: absolute;
                    left: 12px;
                    padding: 4px 9px;
                    border-radius: 3px;

                    font-family: 'Roboto-Regular';
                    font-size: .75rem;
                    cursor: pointer;
                    color: $black;
                }
                &__price{
                    bottom: 10px;
                    background-color: $white;

                    @media(max-width: $sm){
                        padding: 0;
                        font-size: 0.8125rem;
                        background-color: transparent;
                        color: $white;
                    }
                }
                &__featured{
                    top: 10px;

                    font-family: 'Roboto-Bold';
                    text-transform: uppercase;
                    font-size: .65625rem;
                    border-radius: 10px;
                    background-color: $orange;
                    color: $white;
                }
                &__heart{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 16px;
                    height: 16px;
                    opacity: 0;
                    cursor: pointer;

                    &:active path{ fill: #f11370;}
                }
                &__heart path { fill: $white; }

        &__info{ padding: 0 12px; }
            &__title{
                margin: 4px 0;
                font-family: 'Barlow-Regular', sans-serif;
                font-size: 1.375rem;
                text-transform: uppercase;
                color: $black;

                @media(max-width: $sm){
                    font-size: 0.9375rem;
                    margin: 12px 0 0;
                    color: $blue;
                    font-family: 'Roboto-Bold';
                }
            }
            &__tags{
                display: flex;
                flex-wrap: nowrap;
                padding: 4px 0 6px;
                @media(max-width: $sm){
                    padding: 4px 0 ;
                }
                &--top{
                    border-bottom: 1px solid $gray-1;
                    @media(max-width: $sm){ .yacht__tag-ft{display: none;} }
                }
                &--bottom{
                    .yacht__tag-ft{
                        display: none;
                        font-weight: bold;
                    }
                    @media(max-width: $sm){
                        .yacht__tag-ft{ display: flex;}
                        .yacht__tag-crew{display: none;}
                    }
                }
            }
            &__tag,
            &__small{
                font-family: 'Roboto-Regular', sans-serif;
                font-size: .75rem;
                margin: 2px;

                &--dec{ color: $gray-2; }

                @media(max-width: $sm){ &--dec{ display: none; } }
            }
            &__small{
                font-size: 0.6875rem;
                &--year{ font-size: .75rem; }
            }
        &__buttons{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px 0;
        }
            &__icon{
                width: 15px;
                height: 10px;
                object-fit: contain;
                margin: 0 5px;
            }
}
