/****** Colors *****/
$black: #000000;
$white: #FFFFFF;
$orange: #FF6B00;
$blue: #002134;
$shadow: rgba($blue,.45);
$gray-0: #f4f4f4;
$gray-01: #ADADAD;
$gray-02: #E3E3E3;
$gray-1: #707070;
$gray-2: #6C6C6C;
$gray-3: #464646;
/****** Gap *****/
$max-width: 1750px;
$gap: 35px;

/****** Index *****/
$z-index50: 50;
$z-index100: 100;


/****** Queries *****/

$lg: 1350px;
$md: 1100px;
$sm: 850px;
$xsm: 600px;
