/****** Colors *****/
$black: #000000;
$white: #FFFFFF;
$orange: #FF6B00;
$blue: #002134;
$shadow: rgba($blue,.45);

$gray-1: #f4f4f4;
$gray-2: #ADADAD;
$gray-3: #E3E3E3;
$gray-4: #707070;
$gray-5: #6C6C6C;
$gray-6: #464646;
/****** Gap *****/
$max-width: 1750px;
$gap: 35px;

/****** Index *****/
$z-index50: 50;
$z-index100: 100;
/****** Queries *****/
$lg: 1400px;
$md: 1100px;
$sm: 850px;
$xsm: 700px;

/****** Transition/Animation *****/
$time: .35s;
